body {
    font-family: 'New Rocker', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f2f2f2;
    padding: 10px 0;
    margin-bottom: 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add padding on both sides */
}

#contact-info {
    color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif ;
}


.fa-brands {
    font-size: 2.0em;
}

#main-nav {
    width: 100%;
    margin: 0 auto;
    background-color: #03710e;
    padding: 10px;
    text-align: center;
  }
  
  #main-nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px; /* Optional: Add margin between links */
  }

#school-logo img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

.center-container {
    text-align: center;
}

.social-media-icons a {
    color: #000000;
    margin: 0 10px;
    margin-bottom: 40px;
    text-decoration: none; /* Optional, to remove underline from links */
}

.fa-brands {
    font-size: 1.5em; /* Adjust size as needed */
}

#school-motto h1 {
    font-size: 3em;
    color: navy;
    margin: 0;
    text-align: center;
}

#school-motto p {
    font-size: 1em;
    color: green;
    margin: 0;
    text-align: center;
}
