/* ImageCarousel.css */

.relative{
  background-color: #D6F1DF;
}
.carousel-container {
  width: 100%;
  max-width: 1280px; /* Adjust the max-width as needed */
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    display: block;
  }
  