  /* components/Ticker.module.css */
@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.tickerContent {
  display: inline-block;
  padding-left: 100%;
  color: red;
  white-space: nowrap;
  animation: ticker 1s linear infinite;
  margin-top: '20px';
}
