@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


/* Add these styles to ensure the main section and other parts have correct height and layout */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.min-h-screen {
  min-height: 100vh;
}

.main-style {
  padding: 20px;
}

.section {
  margin-bottom: 2rem;
}


/* NAV-BAR */
.nav-link {
  color: black;
  font-size: 18px;
  font-family: 'New Rocker', cursive;
  text-transform: capitalize;
  text-decoration: none;
  margin: 1px 0;
  cursor: pointer;
}

/* FOR NEWS TICKER */
@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  animation: ticker 10s linear infinite;
}

  
/* FOR IMAGE CAROUSEL */
.relative {
  /* background-color: '#D6F1DF'; */
  background-color: #edfff3;
}
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Ensure it adjusts to the screen width */
  margin: auto;
  perspective: 1000px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* Prevent overflow */
}

.carousel-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-slide {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 100%; /* Make sure each slide takes full width of the container */
  height: 100%;
  opacity: 0;
  transform: scale(0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0; /* Remove margin between slides */
}

.carousel-slide {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 60%;
  height: 100%;
  opacity: 0;
  transform: scale(0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 10px; /* Add margin between slides */
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 10px; /* Add padding inside each slide */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.carousel-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.carousel-slide.next {
  opacity: 0.5;
  transform: translateX(80%) scale(0.8);
  z-index: 0;
}

.carousel-slide.prev {
  opacity: 0.5;
  transform: translateX(-80%) scale(0.8);
  z-index: 0;
}

.carousel-button {
  position: absolute;
  top: 88%;
  transform: translateY(50%);
  background-color: rgba(0, 0, 0, 0.0001);
  color: Red;
  /* border: solid; */
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.carousel-button.prev {
  left:150px;
}

.carousel-button.next {
  right: 150px;
}

.carousel-markers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.carousel-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  cursor: pointer;
}

.carousel-marker.active {
  background-color: rgba(0, 0, 0, 0.9);
}




.container {
  padding: 20px;
}
.desk-card {
  display: flex;
  margin: 10px;
}
.mission-heading {
  text-align: center;
  font-size: 45px;
  font-family: 'New Rocker', cursive;
  margin-top: 0;
  margin-bottom: 0;
}
.main-style {
  padding: 250px;
  background: linear-gradient(116deg, #DCF3F3 0%, #D6F1DF 100%);
  background: #D6F1DF;
  min-height: calc(100vh - 120px);
  margin-bottom: 50px;
}
.line-style {
  border: none;
  border-top: 2px solid #64B6AC;
  margin: 10px 0;
}

