/* styles/globals.css */


/* FOR NEWS TICKER */
@keyframes ticker {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .tickerContent {
    display: inline-block;
    padding-left: 100%;
    white-space: nowrap;
    animation: ticker 15s linear infinite;
  }

  
/* FOR IMAGE CAROUSEL */

.relative{
  /* background-color: '#D6F1DF'; */
  background-color: #edfff3;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  perspective: 1000px;
  padding: 20px; /* Add padding to the container */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.carousel-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 10px; /* Add padding around the slides */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.carousel-slide {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 60%;
  height: 100%;
  opacity: 0;
  transform: scale(0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 10px; /* Add margin between slides */
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 10px; /* Add padding inside each slide */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.carousel-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.carousel-slide.next {
  opacity: 0.5;
  transform: translateX(80%) scale(0.8);
  z-index: 0;
}

.carousel-slide.prev {
  opacity: 0.5;
  transform: translateX(-80%) scale(0.8);
  z-index: 0;
}

.carousel-button {
  position: absolute;
  top: 88%;
  transform: translateY(50%);
  background-color: rgba(0, 0, 0, 0.0001);
  color: Red;
  /* border: solid; */
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.carousel-button.prev {
  left:150px;
}

.carousel-button.next {
  right: 150px;
}

.carousel-markers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.carousel-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  cursor: pointer;
}

.carousel-marker.active {
  background-color: rgba(0, 0, 0, 0.9);
}
